frontend-react/node_modules
frontend-react/dist
frontend-react/coverage

.git
.github
.idea
.vscode

frontend-react/.env
frontend-react/.env.*
!frontend-react/.env.example

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
