DATABASE_URL=postgresql://settle:settle@localhost:5432/settle
CLOVA_OCR_INVOKE_URL=https://5s96whw081.apigw.ntruss.com/custom/v1/57103/3b9a47df0879d5149f451cccdaedacbd6d3f620f6f7f1fb11f1e390a9c71ea59/general

CLOVA_OCR_SECRET_KEY=YWVHckJjRFJudnRuR1daWlZsbVpjWGNtcWNZZWVJaUI
OPENAI_API_KEY=
MOCK_INSTITUTION_URL=http://localhost:8001
JUSO_API_KEY=
