{% extends "_base.html" %}
{% block body %}
<div class="sect">1. 신청인 정보 / Applicant</div>
<table>
  {% for row in rows if row.group == 'identity' %}
  <tr>
    <td class="label">{{ row.label_ko }}<span class="en">{{ row.label_en }}</span></td>
    <td><span class="val">{{ row.value or '' }}</span></td>
  </tr>
  {% endfor %}
</table>

<div class="sect">2. 고객확인 사항 / Customer due diligence</div>
<table>
  {% for row in rows if row.group == 'cdd' %}
  <tr>
    <td class="label">{{ row.label_ko }}<span class="en">{{ row.label_en }}</span></td>
    <td><span class="val">{{ row.value or '' }}</span></td>
  </tr>
  {% endfor %}
</table>

<div class="sect">3. 첨부 서류 / Required documents</div>
<table>
  <tr>
    <td class="label">준비물<span class="en">Checklist</span></td>
    <td>{% for d in required_docs %}☐ {{ d }}&nbsp;&nbsp;{% endfor %}</td>
  </tr>
</table>
{% endblock %}
